{{page-title "Index"}}

<div class="bg-gray-700 w-full h-full">
  <Navbar @searchQuery={{this.searchQuery}} />

  {{! <Sidebar /> }}

  <Container>
    <div class="grid grid-cols-3 gap-2">
      {{! template-lint-disable no-implicit-this }}
      {{#each this.model as |exercise|}}
        <Exercise @exercise={{exercise}} />
      {{/each}}
    </div>
  </Container>
</div>
{{outlet}}